@import url('https://fonts.googleapis.com/css?family=Font+Name');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /* background-color: #0e1414; */
    background-color: #001A23;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;

  width: 100%;
  background-color: #465362;
  padding: 10px 25px;
  border: #48E5C2 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px  #48E5C2;
}

.title {
  font-size: 30px;
  width: 100%;
  align-self: center;
}


.player-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  width: 100%;
  /* position: fixed; */
  /* right: 0; */
}


.player-menu button {
  border: none;
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 30px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 40px;

  display: flex;  
  align-items: center;
  justify-content: center;
}

.player-menu button:hover {
  box-shadow: #4CAF50 0 0 20px -3px;
}

.play-btn, .next-step-btn, .restart-btn, .save-video-btn, .generate-btn, .save-state-btn, .load-state-btn {
  /* border: none; */
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
  /* margin: 4px 2px; */
  /* cursor: pointer; */
  /* border-radius: 4px; */
  width: 40px;
  height: 25px;
}

.play-btn, .next-step-btn{
  background-color: #4CAF50;
  color: white;
}

.restart-btn{
  background-color: #f58d2b;
  color: white;
}

.generate-btn{
  background-color: #2bc3f5;
  color: white;
}





.gui {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: calc(100% - 100px);
  /* flex-grow: 1; */
  position: relative;
  justify-content: space-between;
}


.visualizer {
  /* margin-right: auto;
  margin-left: auto; */
  background-color: #000;
  box-shadow: #2bc3f5 0px 0px 20px -5px;
  /* padding: 20px 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: calc(100% - 550px);
  /* width: 800px; */
  height: 100%;
  /* width: 256px;
  height: 256px; */
}

canvas {

}


.parameters {
  background-color: #465362;
  padding: 25px 25px;
  border: #48E5C2 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px  #48E5C2;

  width: 500px;
  height: 100%;
  /* top: 0;
  left: 0; */
  /* box-shadow: #4CAF50 0px 0px 20px -5px; */
  /* margin-right: 10px; */
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.world-parameters {
  width: 100%;
  height: fit-content;
  /* top: 0;
  left: 0; */
  /* box-shadow: #4CAF50 0px 0px 20px -5px; */
  /* margin-right: 10px; */

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.parameter-title {
  font-size: 20px;
  padding: 10px 5px;
  margin: 10px 0;
  border-bottom: 1px #96E6B3 solid;
}



.world-param {
  background-color: #364352;
  padding: 5px;
  border-radius: 3px;
  
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  /* Add margin to create some space between the two divs */
  /* margin-right: 10px; */
}



.world-param > label {
  float: left;
  width: 100%;
/* Add margin to create some space between the two divs */
/* margin-right: 10px; */
}

.world-parameters input {
  float: right;
  width: 60px;
/* Add margin to create some space between the two divs */
/* margin-right: 10px; */
}

.world-parameters > input, .world-parameters > select {
  /* display: inline-block; */
  float: right;
  /* Add margin to create some space between the two divs */
  /* margin-right: 10px; */
}














.add-kernel-btn {
  border: none;
  background-color: #48E5C2;
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 60px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 40px;

  display: flex;  
  align-items: center;
  justify-content: center;
}














.kernel-configuration {
  /* display: none; */
}


table tr td {
  /* display: none; */
}

tr > td:last-child {
  /* display: table-cell; */
}


/* tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.inputContainer td {
  display: flex;
  flex-direction: row;
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

td img {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

td span {
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

td:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
} */