@import url('https://fonts.googleapis.com/css?family=Font+Name');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
}

body {
    /* background-color: #0e1414; */
    background-color: #002234;
    /* background-image: linear-gradient(to bottom right, #8360c3, #2ebf91); */
    background-image: linear-gradient(to bottom right, #002234, #1e6f61);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: hidden;
}


input, button {
  height: 40px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.window {
  background-color: #465362;
  /* background-image: linear-gradient(to bottom right, #002234, #1e6f61); */
  padding: 15px 25px;
  border: #48E5C2 1px solid;
  box-shadow: 0 0 30px -5px #48E5C2;
  border-radius: 12px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

.title {
  font-size: 30px;
  width: 100%;
  align-self: center;
}


.player-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  width: min-content;
  /* position: fixed; */
  /* right: 0; */
}

.step-n-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  width: 120px;
  height: 40px;
  background-color: #364352;
  border-radius: 4px;
}


.player-menu button {
  border: none;
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 30px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 40px;

  display: flex;  
  align-items: center;
  justify-content: center;
}

.player-menu button:hover {
  box-shadow: #4CAF50 0 0 20px -3px;
}

.play-btn, .next-step-btn, .restart-btn, .save-video-btn, .generate-btn, .save-state-btn, .load-state-btn {
  /* border: none; */
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
  /* margin: 4px 2px; */
  /* cursor: pointer; */
  /* border-radius: 4px; */
  width: 40px;
  height: 25px;
}

.play-btn, .next-step-btn{
  background-color: #4CAF50;
  color: white;
}

.play-btn,
.close-btn {
  background-color: tomato;
  color: white;
}

.restart-btn{
  background-color: #f58d2b;
  color: white;
}

.generate-btn{
  background-color: #2bc3f5;
  color: white;
}

.player-menu input {
  width: 70px;
}




.gui {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: calc(100% - 120px);
  /* flex-grow: 1; */
  position: relative;
  justify-content: space-between;
}


.visualizer {
  /* margin-right: auto;
  margin-left: auto; */
  background-color: #000;
  box-shadow: #48E5C2 0px 0px 20px -5px;
  /* padding: 20px 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 4px;
  width: calc(100% - 650px);
  /* width: 800px; */
  height: 100%;
  /* width: 256px;
  height: 256px; */

  overflow: hidden;
}

#map {
}


.control-panel {

  width: 600px;
  height: 100%;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}


.panel-selector {
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 15px -5px #48E5C2;
  /* box-sizing: border-box; */
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.panel-selector-btn {
  width: 100%;
  height: fit-content;
  color: aliceblue;
  font-size: 20px;
  background-color: #364352;
  border: 1px #96E6B3 solid;
  border-radius: 0px;
  padding: 5px 0;

  display: flex;
  flex-direction: column;
}

.panel-selector-btn:hover {
  background-color: #001A23;
}


.panel-section {

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 15px 25px;
  /* margin: 15px 25px; */
  /* top: 0;
  left: 0; */
  /* box-shadow: #4CAF50 0px 0px 20px -5px; */
  /* margin-right: 10px; */

  display: none;
  flex-direction: column;

  /* overflow-y: scroll; */
}

.parameters {
  display: flex;
}

.world-parameters {
  width: 100%;
  height: fit-content;
  /* top: 0;
  left: 0; */
  /* box-shadow: #4CAF50 0px 0px 20px -5px; */
  /* margin-right: 10px; */

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.parameter-title {
  font-size: 20px;
  padding: 10px 5px;
  margin: 10px 0;
  border-bottom: 1px #96E6B3 solid;
}



.world-param {
  background-color: #364352;
  padding: 5px;
  border-radius: 3px;
  
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  /* Add margin to create some space between the two divs */
  /* margin-right: 10px; */
}



.world-param > label {
  float: left;
  width: 100%;
/* Add margin to create some space between the two divs */
/* margin-right: 10px; */
    align-self: center;
}

.world-parameters input {
  float: right;
  width: 60px;
/* Add margin to create some space between the two divs */
/* margin-right: 10px; */
}

.world-parameters > input, .world-parameters > select {
  /* display: inline-block; */
  float: right;
  /* Add margin to create some space between the two divs */
  /* margin-right: 10px; */
}







.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#checkboxes input {
  height: 30px;
}




















.samples {
  /* display: none; */
}

#sample-list {
  width: 100%;
}

.sample-container {
  width: 100%;
  height: 340px;
  margin: 10px 0 30px 0;
  overflow: hidden;
  
  /* border: white 1px solid; */
  border-radius: 25px;
  box-shadow: 0 0 15px -5px aliceblue;

  background-color: black;
}

.sample-container:hover {
  box-shadow: 0 0 20px -0px #96E6B3;
}

.sample-container:hover .delete-sample-btn {
  display: block;
}

.sample-img {
  /* transition: transform 0.2s ease-in-out; add a transition for a smooth effect */
  width: 100%;
  height: 260px;
  padding: 30px 30px 0 30px;

  /* border: white 1px solid; */
  /* border-radius: 25px 25px 0 0; */

  object-fit: cover;
    /* resize the image to cover the container without stretching */
  object-position: center;
  /* center the image within the container */
}

.sample-img:hover {
  /* transform: scale(1.1); */
}


.sample-lbl {
  /* width: 100%; */
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 25px;
}

.delete-sample-btn {
  display: none;
  background-color: tomato;
  color: white;
  width: 100%;
  font-size: 15px;
}








#table-preview {
  width: 100%;
}

#table-preview tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 0;
}

#table-preview tr td {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 50%;
}

#table-preview tr td:nth-child(1) button {
  background-color: tomato;
}

#table-preview tr td:nth-child(2) button {
  background-color: #48E5C2;
}

#table-preview tr td button {
  width: 100%;
}











.add-kernel-btn {
  border: none;
  background-color: #4CAF50;
  /* color: white; */
  /* padding: 8px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 60px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 40px;

  display: flex;  
  align-items: center;
  justify-content: center;
}
















.kernel {
  display: none;
  /* display: flex; */
  flex-direction: row;
  position: fixed;
  padding: 10px 30px 30px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


#table-kernel tbody tr {
  display: none;
  /* display: flex; */
  flex-direction: row;
  gap: 30px;
}

#table-kernel tr > td {
  display: flex;
  flex-direction: column;
  width: 150px;
}

#table-kernel .kernel-parameter-title {
  text-align: center;
  width: 100%;
}

.input-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.inputContainer input {
  width: 70px;
}

.input-list button {
  border-style: none;
  border-radius: 4px;
  background-color: tomato;
  width: 100%;
}

.add-parameter-btn {
  background-color: #4CAF50;
}







#tracker {
  background-color: white;
  height: 300px;
  width: 100%;

  border-radius: 16px;
}

.individual-btn {
  width: 100%;
  margin: 7px 0px;
}







.save-sample {
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: fixed;
  /* padding: 10px 30px 30px 30px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  gap: 10px;
}

.save-sample-name-btn {
  
}


.individual-stat-window {
  width: 600px;
  height: 700px;

  display: none;
  /* display: flex; */
  float: right;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  position: fixed;
  padding: 10px 30px 30px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow-y: auto;
}


.individual-chart {
  width: 100%;
}

.individual-chart-container {
  width: 100%;
  height: 300px;
}


#exit-confirmation-window {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  position: fixed;
  /* padding: 10px 30px 30px 30px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  gap: 10px;
}

#exit-confirmation-window > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.exit-options-btn button{
  width: 100%;
}

.exit-options-btn #undo-exit-btn{
  background-color: tomato;
}

.exit-options-btn #confirm-exit-btn {
  background-color: #4CAF50;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}